# ignore everything
*

# but don't ignore files ending with slash = directories
!*/

# and don't ignore files ending with ".M"
!*.M

# and don't ignore files ending with ".m"
!*.m

# and don't ignore files ending with ".txt"
#!*.txt